*.pyc
*.db
.*.swp
local_settings.py
grunt/bower_components/
grunt/build/
grunt/node_modules/
grunt/release/
*/static/css/*.min.css
*/static/js/*.min.js
*/static/js/locales/
geodata/static/img/error.svg
geodata/static/img/error.png
geodata/static/img/error.png
geodata/static/img/layers-2x.png
geodata/static/img/layers.png
geodata/static/img/loading.gif
geodata/static/img/marker-icon-2x.png
geodata/static/img/marker-icon.png
geodata/static/img/marker-shadow.png
geodata/static/img/play-pause.png
geodata/static/img/play-pause.svg
geodata/static/img/video-play.png
geodata/static/img/video-play.svg
site_media/
cartoterra/static/fonts/glyphicons-halflings-regular.*
.ropeproject/
