--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/

Django
pinax-theme-bootstrap
pinax-theme-bootstrap-account
django-user-accounts
django-forms-bootstrap
metron
pinax-utils
django-debug-toolbar
pytz
django-openid
python-openid
django-compressor
django-announcements
django-userena

pip
virtualenv
fabric
gunicorn
psycopg2
PPyGIS
Pillow
South
django-stdimage
sorl-thumbnail
django-urli18n
django-haystack
xapian-haystack
django-hvad
django-olwidget
django-floppyforms
django-rosetta
gevent
eventlet
Markdown
django-knowledge
django-dajaxice
django-dajax
