{% load i18n %}
{% load static from staticfiles %}



<ul>{% spaceless %}
    <li id="tab_patrimony" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "img/patrimony.png" %}" width="15" height="15" /></a>
      <ul class="dropdown-menu">
        <li><a href="{% url geodata.views.show_patrimony_all %}"><img src="{% static "img/patrimony.png" %}" width="15" height="15" /> {% trans "All patrimonies" %}</a></li>
        <li><a href="{% url geodata.views.show_patrimony_unesco %}"><img src="{% static "img/patrimony.png" %}" width="15" height="15" /> {% trans "UNESCO" %}</a></li>
        <li><a href="{% url geodata.views.show_patrimony_contemporary %}"><img src="{% static "img/patrimony.png" %}" width="15" height="15" /> {% trans "Contemporary" %}</a></li>
        <li><a href="{% url geodata.views.show_patrimony_vernacular %}"><img src="{% static "img/patrimony.png" %}" width="15" height="15" /> {% trans "Vernacular" %}</a></li>
        <li><a href="{% url geodata.views.show_patrimony_normal %}"><img src="{% static "img/patrimony.png" %}" width="15" height="15" /> {% trans "Normal" %}</a></li>
      </ul>
    </li>
    <li id="tab_construction" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "img/construction.png" %}" width="15" height="15" /></a>
      <ul class="dropdown-menu">
        <li><a href="{% url geodata.views.show_construction_all %}"><img src="{% static "img/construction.png" %}" width="15" height="15" /> {% trans "All constructions" %}</a></li>
        <li><a href="{% url geodata.views.show_construction_participative %}"><img src="{% static "img/construction.png" %}" width="15" height="15" /> {% trans "Participative" %}</a></li>
        <li><a href="{% url geodata.views.show_construction_normal %}"><img src="{% static "img/construction.png" %}" width="15" height="15" /> {% trans "Normal" %}</a></li>
      </ul>
    </li>
    <li id="tab_meeting" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "img/meeting.png" %}" width="15" height="15" /></a>
      <ul class="dropdown-menu">
        <li><a href="{% url geodata.views.show_meeting_all %}"><img src="{% static "img/meeting.png" %}" width="15" height="15" /> {% trans "All meetings" %}</a></li>
      </ul>
    </li>

    <li id="tab_search">
      <form action="/search/?q=">
        <input type="text" name="q" id="id_q" placeholder="{% trans "Search Earth GeoDatas" %}">
      </form>
    </li>

{% if user.is_authenticated %}
    <li id="tab_add" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "img/add.png" %}" width="15" height="15" /></a>
      <ul class="dropdown-menu">
        <li><a href="{% url geodata.views.add_patrimony %}"><img src="{% static "img/patrimony.png" %}" width="15" height="15" /> {% trans "Patrimony" %}</a></li>
        <li><a href="{% url geodata.views.add_construction %}"><img src="{% static "img/construction.png" %}" width="15" height="15" /> {% trans "Construction" %}</a></li>
        <li><a href="{% url geodata.views.add_meeting %}"><img src="{% static "img/meeting.png" %}" width="15" height="15" /> {% trans "Meeting" %}</a></li>
      </ul>
    </li>
    {% if edit_geodata %}
        <li id="tab_edit"><a href="{{ edit_geodata }}"><img src="{% static "img/edit.png" %}" width="15" height="15" /></a></li>
    {% endif %}
    {% if delete_geodata %}
        <li id="tab_delete"><a href="{{ delete_geodata }}"><img src="{% static "img/delete.png" %}" width="15" height="15" /></a></li>
    {% endif %}
    {% if rec_on_geodata %}
        <li id="tab_recommend"><a href="{{ rec_on_geodata }}"><img src="{% static "img/recommend.png" %}" width="15" height="15" /></a></li>
    {% endif %}
    {% if rec_off_geodata %}
        <li id="tab_recommend"><a href="{{ rec_off_geodata }}"><img src="{% static "img/recommend.png" %}" width="15" height="15" /></a></li>
    {% endif %}
    <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
    <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
{% endif %}
{% endspaceless %}</ul>
