{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_head %}
        <link rel="stylesheet" href="{% static "css/homemap.css" %}">

        {% comment %}
        <link rel="stylesheet" href="{% static "css/homemap.css" %}">
        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>

        <script type="text/javascript">
            function displayDate()
            {
            document.getElementById("demo").innerHTML=Date();
            }
        </script>
        {% endcomment %}
        <script src="{% static "js/openlayers/OpenLayers.js" %}"></script>

        <script type="text/javascript">
            
          var map;
            function init(){
                map = new OpenLayers.Map('homemap', {
                    div: "homemap",
                    units: "m",
                    controls: [
                        new OpenLayers.Control.Navigation(),
                        new OpenLayers.Control.PanZoomBar(),
                        new OpenLayers.Control.LayerSwitcher({'ascending':false}),
                        new OpenLayers.Control.Permalink(),
                        new OpenLayers.Control.Permalink('permalink'),
                        new OpenLayers.Control.MousePosition(),
                        new OpenLayers.Control.OverviewMap(),
                        new OpenLayers.Control.KeyboardDefaults()
                    ],
                });

                var ol_wms = new OpenLayers.Layer.WMS(
                    "OpenLayers WMS",
                    "http://vmap0.tiles.osgeo.org/wms/vmap0",
                    {layers: 'basic'} 
                );

                var gwc = new OpenLayers.Layer.WMS(
                    "Global Imagery",
                    "http://maps.opengeo.org/geowebcache/service/wms",
                    {layers: "bluemarble"},
                    {tileOrigin: new OpenLayers.LonLat(-180, -90)}
                );
//                var dm_wms = new OpenLayers.Layer.WMS(
//                    "DM Solutions Demo",
//                    "http://www2.dmsolutions.ca/cgi-bin/mswms_gmap",
//                    {layers: "bathymetry,land_fn,park,drain_fn,drainage," +
//                             "prov_bound,fedlimit,rail,road,popplace",
//                     transparent: "true", format: "image/png"},
//                    {visibility: false}
//                );

    map.addControl(new OpenLayers.Control.MousePosition());
//                map.addLayers([ol_wms, gwc, dm_wms]);
                map.addLayers([ol_wms, gwc]);

                if (!map.getCenter()) {
                    map.zoomToMaxExtent();
                }
            }

            window.onload = init;
        </script>

    {% comment %}
        <script type="text/javascript">
            var map;

var urls = [
    "http://a.tile.openstreetmap.org/${z}/${x}/${y}.png",
    "http://b.tile.openstreetmap.org/${z}/${x}/${y}.png",
    "http://c.tile.openstreetmap.org/${z}/${x}/${y}.png"
];

            function init() {
map = new OpenLayers.Map({
    div: "homemap",
    layers: [
        new OpenLayers.Layer.XYZ("OSM (with buffer)", urls, {
            transitionEffect: "resize", buffer: 2, sphericalMercator: true
        }),
        new OpenLayers.Layer.XYZ("OSM (without buffer)", urls, {
            transitionEffect: "resize", buffer: 0, sphericalMercator: true
        })
    ],
    controls: [
        new OpenLayers.Control.Navigation({
            dragPanOptions: {
                enableKinetic: true
            }
        }),
        new OpenLayers.Control.PanZoom(),
        new OpenLayers.Control.Attribution()
    ],
    center: [0, 0],
    zoom: 3
});

map.addControl(new OpenLayers.Control.LayerSwitcher());
            }
            
            window.onload = init;
        </script>
    {% endcomment %}

{% endblock %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

    {% comment %}
{% block banner %}
    {comment}
    <h1>{% trans "Welcome to " %} {{ SITE_NAME }}</h1>

    <p id="demo">This is a paragraph.</p>

    <button type="button" onclick="displayDate()">Display Date</button>

    <button type="button" onload="init()">
        
        <div id="map" class="smallmap">Toto</div>
    </button>
    {endcomment}

    <h2>About {{ SITE_NAME }}</h2>
    <p>
        {% blocktrans %}
        This project takes the account_project and adds profiles and notifications.
        It is a foundation suitable for many sites that have user accounts with
        profiles.
        {% endblocktrans %}
    </p>
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn primary large">Log In</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
{% endblock %}
    {% endcomment %}

{% block body %}
    <div id="homemap"></div>
{% endblock %}
