{% extends "geodata_base.html" %}
{% load i18n %}

{% block head_geodata_type %}{% trans "Construction" %}{% endblock %}

{% block body_geodata_type %}{% trans "Construction" %}{% endblock %}

{% block body_geodata_extra %}
    <p>
        {% trans "Techniques" %}:
        {% if place.techniques.all %}
            <ul>
            {% for technique in place.techniques.all %}
                <li>{{ technique.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            {% trans "not provided" %}.
        {% endif %}
    </p>

    <p>
        {% trans "Participative construction" %}:
        {% if place.participative %}
            {% trans "Yes!" %}
        {% else %}
            {% trans "No." %}
        {% endif %}
    </p>
{% endblock %}
