{% extends "site_base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block extra_head %}
    {% comment %}
    <link rel="stylesheet" href="{{ STATIC_URL }}knowledge/css/reset.css">
    {% endcomment %}
    <link rel="stylesheet" href="{% static "knowledge/css/main.css" %}">
{% endblock %}

{% block head_title %}{{ SITE_NAME }} | Support Center{% endblock %}

{% block body_class %}knowledge{% endblock %}

{% block body %}
<div class="wrapper">
  
  {% block knowledge_inner %}
  {% endblock knowledge_inner %}

</div>
{% endblock body %}

