{% extends "account/account_nav_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Delete Account" %}{% endblock %}

{% block account_body %}
    <form method="post" action="{% url "account_delete" %}" autocapitalize="off">
        <legend>{% trans "Delete Account" %}</legend>
        <p class="help-block">{% blocktrans %}If you go ahead and delete your account, your information will be <b>expunged within {{ ACCOUNT_DELETION_EXPUNGE_HOURS }} hours</b>.{% endblocktrans %}</p>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete My Account</button>
    </form>
{% endblock %}
