{% extends "account/account_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}
{% block panel_heading %}{% trans "Log out" %}{% endblock %}

{% block panel_body %}
<form method="POST" action="{% url "account_logout" %}" class="form">{% csrf_token %}
    <p>{% trans "Are you sure you want to log out?" %}</p>
    <fieldset class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
    </fieldset>
</form>
{% endblock %}
