{% extends "account/account_nav_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block panel_body %}
    <form method="POST" action="{% url "account_settings" %}">
        <legend>{% trans "Account" %}</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        </div>
    </form>
{% endblock %}
