{% extends "geodata/geodata_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block form_extra_style %}
{{ form.media.css }}
{% endblock %}


{% block form_extra_script %}
{{ form.media.js }}
{% endblock %}

{% block head_title %}{% endblock %}

{% block body_class %}userform{% endblock %}

{% block body %}
    <h1>{% block body_h1 %}{% endblock %}</h1>

    <form class="form-horizontal" enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
      {% for field in form %}
      {% if field.errors %}
      <fieldset class="control-group error">
      {% else %}
      <fieldset class="control-group">
      {% endif %}

      <label class="control-label">{{ field.label_tag }}</label>
      <div class="controls">
        {{ field }}
        {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
      </div>
      {% if field.errors %}<span class="help-inline">{{ field.errors }}</span>{% endif %}
      </fieldset>
      {% endfor %}
      
      <script type="text/javascript">
      <!--
      $(function () {
          $('.add-row').click(function() {
            return addForm(this, 'geodata-image-content_type-object_id');
          });
          {% comment %}
          $('.delete-row').click(function() {
            return deleteForm(this, 'geodata-image-content_type-object_id');
          })
          {% endcomment %}
      })
      //-->
      </script>
          {% comment %}
      {{ image_formset }}
          {% endcomment %}

      <fieldset class="control-group">
        <label class="control-label">{% trans "Images" %}</label>
        <div class="controls">
          <table border="0" cellpadding="0" cellspacing="0" class="table table-striped table-bordered">
            <thead>
              <tr>
                {% with image_formset.forms|first as form %}
                <th>{{ form.original.label_tag }}</th>
                <th>{{ form.legend.label_tag }}</th>
                <th>{{ form.DELETE.label_tag }}</th>
                {% endwith %}
              </tr>
            </thead>
            <tbody>
              {% for form in image_formset.forms %}
              <tr id="{{ form.prefix }}-row" class="dynamic-form">
                <td>{{ form.original }}</td>
                <td>{{ form.legend }}</td>
                <td>{{ form.DELETE }}</td>
                {{ form.id }}
              </tr>
              {% endfor %}
              <tr>
                <td colspan="3"><a href="javascript:void(0)" class="btn btn-info add-row">{% trans "Add more images" %}</a></td>
              </tr>
            </tbody>
          </table>
          {{ image_formset.management_form }}
        </div>
      </fieldset>

      <fieldset class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        <button type="reset" class="btn">{% trans "Cancel" %}</button>
      </fieldset>
    </form>

    {% block body_geodata_extra %}
    {% endblock %}
{% endblock %}

