{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block extra_style %}
{{ form.media.css }}
{% endblock %}


{% block extra_script %}
{{ form.media.js }}
<script type="text/javascript" src="{% static "js/formset.js" %}"></script>
{% endblock %}

{% block head_title %}{% endblock %}

{% block body_class %}userform{% endblock %}

{% block body %}
    <h1>{% block body_h1 %}{% endblock %}</h1>


    <form class="form-stacked" enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
      {% for field in form %}
      {% if field.errors %}
      <fieldset class="control-group error">
      {% else %}
      <fieldset class="control-group">
      {% endif %}

        <label class="control-label">{{ field.label_tag }}</label>
        <div class="controls">
          {{ field }}
          {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
        </div>
        {% if field.errors %}<span class="help-inline">{{ field.errors }}</span>{% endif %}
      </fieldset>
      {% endfor %}
      
      {{ image_formset.management_form }}
      <div class="images">
      {% for form in image_formset.forms %}
        <div id="{{ form.prefix }}-row" class="dynamic-form">
          {{ form }}
          {% comment %}
          <div{% if forloop.first %} class="hidden"{% endif %}>
            <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row">Hide</a>
          </div>
          {% endcomment %}
        </div>
      {% endfor %}
      </div>
      <a href="javascript:void(0)" class="add-row">{% trans "Add more images" %}</a>

      <script type="text/javascript">
      <!--
      $(function () {
          $('.add-row').click(function() {
            return addForm(this, 'geodata-image-content_type-object_id');
          });
          {% comment %}
          $('.delete-row').click(function() {
            return deleteForm(this, 'geodata-image-content_type-object_id');
          })
          {% endcomment %}
      })
      //-->
      </script>

      <fieldset class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        <button type="reset" class="btn">{% trans "Cancel" %}</button>
      </fieldset>
    </form>

    {% block body_geodata_extra %}
    {% endblock %}
{% endblock %}

