{% extends "geodata/geodata_detail.html" %}
{% load i18n %}
{% load geodata %}

{% block geodata_detail_title_extra %}
    {% if geodata.unesco %}
        {% world_heritage_logo %}
    {% endif %}
    {% if geodata.isceah %}
        {% isceah_logo %}
    {% endif %}
{% endblock %}

{% block body_geodata_extra %}
{% if geodata.classification %}
<tr>
    <th>{% trans "Classification" %}</th>
    <td>{{ geodata.classification }}</td>
</tr>
{% endif %}
{% if geodata.use %}
<tr>
    <th>{% trans "Use" %}</th>
    <td>{{ geodata.use }}</td>
</tr>
{% endif %}
{% if geodata.property_status %}
<tr>
    <th>{% trans "Property status" %}</th>
    <td>{{ geodata.property_status }}</td>
</tr>
{% endif %}
{% if geodata.cultural_landscape %}
<tr>
    <th>{% trans "Cultural landscape" %}</th>
    <td>{% trans "Yes" %}</td>
</tr>
{% endif %}
{% if geodata.architects %}
<tr>
    <th>{% trans "Architects" %}</th>
    <td>{{ geodata.architects }}</td>
    {% comment %}
    {% trans "Architects" %}:
    {% if geodata.architects.all %}
        <ul>
        {% for architect in geodata.architects.all %}
            <li>{{ architect.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    {% endcomment %}
</tr>
{% endif %}
<tr>
    <th>{% trans "Stakeholders" %}</th>
    <td>
    {% if geodata.stakeholder.all %}
        <ul>
        {% for person in geodata.stakeholder.all %}
            <li>{{ person.name }} {% if person.role.all %}({{ person.role.all|join:", " }}){% endif %}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
<tr>
    <th>{% trans "Techniques" %}</th>
    <td>
    {% if geodata.techniques.all %}
        <ul>
        {% for technique in geodata.techniques.all %}
            <li>{{ technique.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
{% if geodata.earth_quantity %}
<tr>
    <th>{% trans "Quantity of earthen material" %}</th>
    <td>{{ geodata.earth_quantity }}</td>
</tr>
{% endif %}
{% if geodata.condition %}
<tr>
    <th>{% trans "Site condition and threats" %}</th>
    <td>{{ geodata.condition }}</td>
</tr>
{% endif %}
{% if geodata.references %}
<tr>
    <th>{% trans "Principal references" %}</th>
    <td>{{ geodata.references }}</td>
</tr>
{% endif %}
{% if geodata.heritage_status %}
<tr>
    <th>{% trans "Heritage or contemporary" %}</th>
    <td>{{ geodata.heritage_status }}</td>
</tr>
{% endif %}
{% if geodata.detailed_description %}
<tr>
    <th>{% trans "Detailed description" %}</th>
    <td>{{ geodata.detailed_description }}</td>
</tr>
{% endif %}
{% if geodata.unesco %}
<tr>
    <th>{% trans "World heritage" %}</th>
    <td>
        {% world_heritage_logo %}
    </td>
</tr>
{% endif %}
{% if geodata.protection_status %}
<tr>
    <th>{% trans "Protection status" %}</th>
    <td>{{ geodata.protection_status }}</td>
</tr>
{% endif %}
{% if geodata.isceah %}
<tr>
    <th>{% trans "ISCEAH" %}</th>
    <td>
        {% isceah_logo %}
    </td>
</tr>
{% endif %}
<tr>
    <th>{% trans "Inauguration date" %}</th>
    <td>
    {% if geodata.inauguration_date %}
        {{ geodata.inauguration_date }}
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
{% if geodata.construction_date %}
<tr>
    <th>{% trans "Approximative construction date" %}</th>
    <td>
        {{ geodata.construction_date }}
    </td>
</tr>
{% endif %}
{% endblock %}
