{% extends "geodata/geodata_detail.html" %}
{% load i18n %}
{% load geodata %}

{% block geodata_detail_title_extra %}
    {% if geodata.unesco %}
        {% world_heritage_logo %}
    {% endif %}
    {% if geodata.isceah %}
        {% isceah_logo %}
    {% endif %}
{% endblock %}

{% block body_geodata_extra %}
{% if geodata.architects %}
<tr>
    <th>{% trans "Architects" %}</td>
    <td>{{ geodata.architects }}</td>
    {% comment %}
    {% trans "Architects" %}:
    {% if geodata.architects.all %}
        <ul>
        {% for architect in geodata.architects.all %}
            <li>{{ architect.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    {% endcomment %}
</tr>
{% endif %}
<tr>
    <th>{% trans "Stakeholders" %}</th>
    <td>
    {% if geodata.stakeholder.all %}
        <ul>
        {% for person in geodata.stakeholder.all %}
            <li>{{ person.name }} {% if person.role.all %}({{ person.role.all|join:", " }}){% endif %}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
<tr>
    <th>{% trans "Techniques" %}</th>
    <td>
    {% if geodata.techniques.all %}
        <ul>
        {% for technique in geodata.techniques.all %}
            <li>{{ technique.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
{% if geodata.unesco %}
<tr>
    <th>{% trans "World heritage" %}</th>
    <td>
        {% world_heritage_logo %}
    </td>
</tr>
{% endif %}
{% if geodata.isceah %}
<tr>
    <th>{% trans "ISCEAH" %}</th>
    <td>
        {% isceah_logo %}
    </td>
</tr>
{% endif %}
<tr>
    <th>{% trans "Inauguration date" %}</th>
    <td>
    {% if geodata.inauguration_date %}
        {{ geodata.inauguration_date }}
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
{% endblock %}
