{% extends "geodata/geodata_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load breadcrumbs %}


{% block extra_head %}{{ form.media }}{% endblock %}


{% block head_title %}{% trans "Delete"%} {% block head_geodata_type %}{% endblock %} "{{ geodata }}"{% endblock %}

{% block body_class %}userform{% endblock %}

{% block body %}
    <h1>{% trans "Delete"%} {% block body_geodata_type %}{% endblock %} "{{ geodata }}"?</h1>


    <form method="post" action=".">{% csrf_token %}
      <button type="submit" class="btn danger">{% trans "Confirm" %}</button>
    </form>

    {% block body_geodata_extra %}
    {% endblock %}
{% endblock %}

{% block breadcrumbs_extra %}
{% block breadcrumbs_extra_detail %}
{% endblock %}
{% breadcrumb 'Delete' %}
{% endblock %}
