{% extends "show_geodata_base.html" %}
{% load i18n %}

{% block head_geodata_type %}{% trans "Meeting" %}{% endblock %}

{% block body_geodata_type %}{% trans "Meeting" %}{% endblock %}

{% block body_geodata_extra %}
    <p>
        {% trans "Meeting type" %}: {{ geodata.get_meeting_type_display }}
    </p>

    <p>
        {% trans "Dates" %}: {{ geodata.beginning_date }} - {{ geodata.end_date }}
    </p>
    <p>
        {% trans "Actors" %}:
        {% if geodata.actor.all %}
            <ul>
            {% for actor in geodata.actor.all %}
                <li>{{ actor.name }} {% if actor.role.all %}({{ actor.role.all|join:", " }}){% endif %}</li>
            {% endfor %}
            </ul>
        {% else %}
            {% trans "not provided" %}.
        {% endif %}
    </p>
{% endblock %}
