{% extends "geodata/add_edit_geodata_base.html" %}
{% load i18n %}
{% load breadcrumbs %}

{% block head_title %}{% trans "Edit"%} {% block head_geodata_type %}{{ geodata_verbose_name }}{% endblock %} "{{ geodata }}"{% endblock %}

{% block body_h1 %}{% trans "Edit"%} {% block body_geodata_type %}{{ geodata_verbose_name }}{% endblock %} "{{ geodata }}"{% endblock %}

{% block breadcrumbs_extra %}
{% breadcrumb_url geodata_verbose_name_plural geodata_list_url %}
{% breadcrumb_url geodata.name geodata_detail_url geodata.id %}
{% breadcrumb 'Edit' %}
{% endblock %}
