{% extends "geodata/geodata_detail.html" %}
{% load i18n %}
{% load geodata %}

{% block geodata_detail_title_extra %}
    {% if geodata.unesco_chair %}
        {% unesco_chair_logo %}
    {% endif %}
{% endblock %}

{% block body_geodata_extra %}
<tr>
    <th>{% trans "Event type" %}</th>
    <td>
        {{ geodata.get_event_type_display }}
    </td>
</tr>
{% if geodata.unesco_chair %}
<tr>
    <th>{% trans "UNESCO Chair Earthen Architecture" %}</th>
    <td>
        {% unesco_chair_logo %}
    </td>
</tr>
{% endif %}
<tr>
    <th>{% trans "Dates" %}</th>
    <td>
        {{ geodata.beginning_date }} - {{ geodata.end_date }}
    </td>
</tr>
<tr>
    <th>{% trans "Number of stakeholders" %}</th>
    <td>
    {% if geodata.number_of_stakeholders %}
        {{ geodata.number_of_stakeholders }}
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
<tr>
    <th>{% trans "Type of stakeholders" %}</th>
    <td>
    {% if geodata.type_of_stakeholders.all %}
        <ul>
        {% for role in geodata.type_of_stakeholders.all %}
            <li>{{ role }}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
<tr>
    <th>{% trans "Stakeholders" %}</th>
    <td>
    {% if geodata.stakeholder.all %}
        <ul>
        {% for person in geodata.stakeholder.all %}
            <li><a href="{{ person.get_absolute_url }}">{{ person.name }}{% if person.role.all %} ({{ person.role.all|join:", " }}){% endif %}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
{% endblock %}
