{% extends "geodata/geodata_detail.html" %}
{% load i18n %}

{% block body_geodata_extra %}
    <div>
        {% trans "Event type" %}: {{ geodata.get_event_type_display }}
    </div>

    <div>
        {% trans "Dates" %}: {{ geodata.beginning_date }} - {{ geodata.end_date }}
    </div>
    <div>
        {% trans "People" %}:
        {% if geodata.stakeholder.all %}
            <ul>
            {% for person in geodata.stakeholder.all %}
                <li>{{ person.name }} {% if person.role.all %}({{ person.role.all|join:", " }}){% endif %}</li>
            {% endfor %}
            </ul>
        {% else %}
            {% trans "not provided" %}.
        {% endif %}
    </div>
{% endblock %}
