{% extends "geodata/geodata_map_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load can_edit_geodata %}
{% load recommends_geodata %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/blueimp-gallery.min.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "css/bigmap.css" %}?v=1.4" type="text/css" />
<link rel="stylesheet" href="{% static "css/detail.css" %}?v=1.3" type="text/css" />
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
//<![CDATA[
{% include "geodata/smallmap.js" %}
//]]>
</script>
<script type="text/javascript" src="{% static "js/blueimp-gallery.min.js" %}"></script>
<script type="text/javascript">
  if (document.getElementById('gallery')) {
    document.getElementById('gallery').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event,
                   slideshowInterval: 3000,
                   onclosed: function() {
                     var controlsClass = this.options.controlsClass;
                     if (!this.container.hasClass(controlsClass)) {
                         this.container.addClass(controlsClass);
                     }
                  }},
        links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
    };
  };
</script>
{% endblock %}

{% block head_title %}{% block head_geodata_type %}{{ geodata_verbose_name }}{% endblock %}: {{ geodata.name }}{% endblock %}

{% block body_class %}place{% endblock %}

{% block body %}
{{ block.super }}
    {% if geodata.image.all %}
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      <a class="close"><span class="glyphicon glyphicon-remove"></span></a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>
                {{ geodata_verbose_name }}: {{ geodata.name }}
            </h2>
            {% block geodata_detail_title_extra %}{% endblock %}
            {% block extra_geodata_toolbox %}
                {% if user.is_authenticated %}
                <div class="btn-group">
                    {% if user|can_edit_geodata:geodata %}
                    <a class="tooltip-geodata btn btn-default" title="{% trans "Edit" %}" href="{% url geodata_edit_url geodata.pk %}"><span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}</a>
                    <a class="tooltip-geodata btn btn-default" title="{% trans "Delete" %}" href="{% url geodata_delete_url geodata.pk %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a>
                    {% endif %}
                    {% if user|recommends_geodata:geodata %}
                    <a class="btn btn-default" title="{% trans "Recommended" %}" href="{% url geodata_recommend_url geodata.pk %}">
                        <span class="badge">
                            <span class="cartoterra-recommended-by-icon glyphicon glyphicon-star"></span>
                            <span class="cartoterra-recommended-by-count">{{ geodata.recommended_by.count }}</span>
                        </span>
                        <span class="cartoterra-recommended-by-text">{% trans "Recommended" %}</span>
                    </a>
                    {% else %}
                    <a class="tooltip-geodata btn btn-default geodata-inactive-text" title="{% trans "Recommend" %}" href="{% url geodata_recommend_url geodata.pk %}">
                        <span class="badge">
                            <span class="cartoterra-recommended-by-icon glyphicon glyphicon-star-empty"></span>
                            <span class="cartoterra-recommended-by-count">{{ geodata.recommended_by.count }}</span>
                        </span>
                        <span class="cartoterra-recommended-by-text">{% trans "Click to recommend this geodata" %}</span>
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            {% endblock %}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                {% if geodata.description %}
                    {{ geodata.description }}
                {% endif %}

                {% if geodata.image.all %}
                    <div class="set" id="gallery">
                        {% for image in geodata.image.all %}
                        {% with image.thumbnail as im %}
                        <a href="{{ image.display.url }}" title="{{ image.legend|escape }}"><img width="{{ im.width }}" height="{{ im.height }}" src="{{ im.url }}" alt="" /></a>
                        {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="geodata-smallmap" id="{{ module }}_map"></div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            {% block body_geodata_extra %}
            {% endblock %}
            <tr>
                <th>{% trans "Contacts" %}</th>
                <td>
                    <ul>
                        {% if geodata.credit_creator %}<li>{% trans "User" %}: <address><a href="{% url "profile_detail" geodata.creator %}">{{ geodata.creator }}</a></address></li>{% endif %}
                        {% if geodata.url %}<li>{% trans "Website" %}: <a href={{ geodata.url }}>{{ geodata.url }}</a></li>{% endif %}
                        {% if geodata.contact %}<li>{% trans "Other contact information" %}: <address>{{ geodata.contact }}</address></li>{% endif %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
