{% extends "geodata/geodata_map_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_style %}
{{ block.super }}
<link href="{% static "css/MarkerCluster.min.css" %}" type="text/css" rel="stylesheet">
<link href="{% static "css/MarkerClusterDefault.min.css" %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/bigmap.css" %}?v=1.3" type="text/css">
<link rel="stylesheet" href="{% static "css/bigmap-only.css" %}?v=1.1" type="text/css" />
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/leaflet.markercluster.min.js" %}"></script>
<script type="text/javascript">
//<![CDATA[
{% include "geodata/bigmap.js" %}
//]]>
</script>
{% endblock %}

{% block head_title %}{% trans "All GeoData" %}{% endblock %}

{% block body_class %}place{% endblock %}

{% block body %}
{{ block.super }}
{% endblock %}

{% block footer_bigmap %}
<div id="footer" class="footer footer-bigmap">
  <div class="container">
    {% block footer %}{% include "_footer.html" %}{% endblock %}
  </div>
</div>
{% endblock %}

{% block footer_base %}
{% endblock %}

{% block bigmap %}
<div class="geodata-info modal fade" id="{{ module }}_info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 geodata-info-content"></div>
                    <div class="col-md-6 geodata-info-image"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <a class="btn btn-primary geodata-info-detail">{% trans "Details" %}</a>
            </div>
        </div>
    </div>
</div>

<div class="map-toolbox">
  <div class="geodata-bigmap" id="{{ module }}_map"></div>

  <div class="map-overlay">
  {% if not request.user.is_authenticated %}
    <div class="cartoterra-header text-center alert alert-dismissible">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="container">
        {% include "_sidebar.html" %}
      </div>
    </div>
  {% endif %}
    <div class="geodata-side-toolbar">
      <div id="{{ module }}_controls"></div>
      <div class="geodata-list panel-group" id="geodata-list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="#collapse-building" class="panel-title accordion-toggle tooltip-geodata collapsed" title="{% trans "Buildings" %}" data-toggle="collapse" data-parent="#geodata-list">
              <img src="{% static "img/building_icon_h25.png" %}" width="25" height="25" alt="" /> {% trans "Buildings" %}
            </a>
          </div>
          <div id="collapse-building" class="panel-collapse collapse">
            <div class="panel-body building">
              <a class="btn btn-danger btn-lg btn-sm btn-block" href="{% url "show_building_all" %}" role="button">{% trans "All buildings" %}</a>
              <a class="btn btn-danger btn-lg btn-sm btn-block" href="{% url "show_building_isceah" %}" role="button">{% trans "ICOMOS-ISCEAH" %}</a>
              <a class="btn btn-danger btn-lg btn-sm btn-block" href="{% url "show_building_unesco" %}" role="button">{% trans "World Heritage" %}</a>
              <a class="btn btn-danger btn-lg btn-sm btn-block" href="{% url "show_building_of_status" "contemporary" %}" role="button">{% trans "Contemporary" %}</a>
              <a class="btn btn-danger btn-lg btn-sm btn-block" href="{% url "show_building_of_status" "heritage" %}" role="button">{% trans "Heritage" %}</a>
              <a class="btn btn-danger btn-lg btn-sm btn-block" href="{% url "show_building_normal" %}" role="button">{% trans "Other" %}</a>
    </br>
              <div class="geodata-rss">
                <a rel="rss" href="{% url "feed_building" %}"><img src="{% static "img/feed-icon-14x14.png" %}" width="15" heigth="15" alt="" /> {% trans "Buildings" %}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="#collapse-worksite" class="panel-title accordion-toggle tooltip-geodata collapsed" title="{% trans "Worksites" %}" data-toggle="collapse" data-parent="#geodata-list"><img src="{% static "img/worksite_icon_h25.png" %}" width="25" height="25" alt="" /> {% trans "Worksites" %}</a>
          </div>
          <div id="collapse-worksite" class="panel-collapse collapse">
            <div class="panel-body worksite">
              
              <a class="btn btn-warning btn-lg btn-sm btn-block" href="{% url "show_worksite_all" %}" role="button">{% trans "All worksites" %}</a>
               <a class="btn btn-warning btn-lg btn-sm btn-block" href="{% url "show_worksite_participative" %}" role="button">{% trans "Participative" %}</a>
              <a class="btn btn-warning btn-lg btn-sm btn-block" href="{% url "show_worksite_normal" %}" role="button">{% trans "Normal" %}</a>             
              </br>
              <div class="geodata-rss">
                <a rel="rss" href="{% url "feed_worksite" %}"><img src="{% static "img/feed-icon-14x14.png" %}" width="15" heigth="15" alt="" /> {% trans "Worksites" %}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="#collapse-event" class="panel-title accordion-toggle tooltip-geodata collapsed" title="{% trans "Events" %}" data-toggle="collapse" data-parent="#geodata-list"><img src="{% static "img/event_icon_h25.png" %}" width="25" height="25" alt="" /> {% trans "Events" %}</a>
          </div>
          <div id="collapse-event" class="panel-collapse collapse">
            <div class="panel-body event">
             
             <a class="btn btn-primary btn-lg btn-sm btn-block" href="{% url "show_event_all" %}" role="button">{% trans "All events" %}</a>
             <a class="btn btn-primary btn-lg btn-sm btn-block" href="{% url "show_event_of_type" "seminar" %}" role="button">{% trans "Seminar" %}</a>
             <a class="btn btn-primary btn-lg btn-sm btn-block" href="{% url "show_event_of_type" "training" %}" role="button">{% trans "Training" %}</a>
             <a class="btn btn-primary btn-lg btn-sm btn-block" href="{% url "show_event_of_type" "conference" %}" role="button">{% trans "Conference" %}</a>
             <a class="btn btn-primary btn-lg btn-sm btn-block" href="{% url "show_event_of_type" "exhibition" %}" role="button">{% trans "Exhibition" %}</a>
              </br>
              <div class="geodata-rss">
                <a rel="rss" href="{% url "feed_event" %}"><img src="{% static "img/feed-icon-14x14.png" %}" width="15" heigth="15" alt="" /> {% trans "Events" %}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="#collapse-stakeholder" class="panel-title accordion-toggle tooltip-geodata collapsed" title="{% trans "Stakeholders" %}" data-toggle="collapse" data-parent="#geodata-list"><img src="{% static "img/stakeholder_icon_h25.png" %}" width="25" height="25" alt="" /> {% trans "Stakeholders" %}</a>
          </div>
          <div id="collapse-stakeholder" class="panel-collapse collapse">
            <div class="panel-body stakeholder">
              
              <a class="btn btn-success btn-lg btn-sm btn-block" href="{% url "show_stakeholder_all" %}" role="button">{% trans "All stakeholders" %}</a>
              <a class="btn btn-success btn-lg btn-sm btn-block" href="{% url "show_stakeholder_isceah" %}" role="button">{% trans "ICOMOS-ISCEAH" %}</a>
              <a class="btn btn-success btn-lg btn-sm btn-block" href="{% url "show_stakeholder_of_role" "architect" %}" role="button">{% trans "Architects" %}</a>
              <a class="btn btn-success btn-lg btn-sm btn-block" href="{% url "show_stakeholder_of_role" "builder" %}" role="button">{% trans "Builders" %}</a>
              <a class="btn btn-success btn-lg btn-sm btn-block" href="{% url "show_stakeholder_of_role" "ngo" %}" role="button">{% trans "NGOs" %}</a>
              <a class="btn btn-success btn-lg btn-sm btn-block" href="{% url "show_stakeholder_of_role" "university" %}" role="button">{% trans "Universities" %}</a>
              <a class="btn btn-success btn-lg btn-sm btn-block" href="{% url "show_stakeholder_of_role" "school" %}" role="button">{% trans "Schools" %}</a>
              <a class="btn btn-success btn-lg btn-sm btn-block" href="{% url "show_stakeholder_of_role" "producer" %}" role="button">{% trans "Producers" %}</a>     
              </br>
              <div class="geodata-rss">
                <a rel="rss" href="{% url "feed_stakeholder" %}"><img src="{% static "img/feed-icon-14x14.png" %}" width="15" heigth="15" alt="" /> {% trans "Stakeholders" %}</a>
              </div>
            </div>
          </div>
        </div>

      {% if user.is_authenticated %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="#collapse-toolbox" class="panel-title accordion-toggle tooltip-geodata collapsed" title="{% trans "Add a geodata" %}" data-toggle="collapse" data-parent="#geodata-list">{% trans "Add a geodata" %}</a>
          </div>
          <div id="collapse-toolbox" class="panel-collapse collapse">
            <div class="panel-body">
              <ul id="collapse-add" class="list-unstyled">
                <li><a href="{% url "add_building" %}"><img src="{% static "img/building_icon_h25.png" %}" width="20" height="20" alt="{% trans "Add Building" %}" /> {% trans "Building" %}...</a></li>
                <li><a href="{% url "add_worksite" %}"><img src="{% static "img/worksite_icon_h25.png" %}" width="20" height="20" alt="{% trans "Add Worksite" %}" /> {% trans "Worksite" %}...</a></li>
                <li><a href="{% url "add_event" %}"><img src="{% static "img/event_icon_h25.png" %}" width="20" height="20" alt="{% trans "Add Event" %}" /> {% trans "Event" %}...</a></li>
                <li><a href="{% url "add_stakeholder" %}"><img src="{% static "img/stakeholder_icon_h25.png" %}" width="20" height="20" alt="{% trans "Add Stakeholder" %}" /> {% trans "Stakeholder" %}...</a></li>
              </ul>
              {% block extra_geodata_toolbox %}
              {% endblock %}
            </div>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
