{% extends "geodata/geodata_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load can_edit_geodata %}
{% load recommends_geodata %}
{% load breadcrumbs %}


{% block extra_geodata_toolbox %}
    {% if user|can_edit_geodata:geodata %}
        <li id="tab_edit"><a href="{% url geodata_edit_url geodata.pk %}"><i class="icon-edit icon-white" width="15" height="15"></i></a></li>                    
        <li id="tab_delete"><a href="{% url geodata_delete_url geodata.pk %}"><i class="icon-trash icon-white" width="15" height="15"></i></a></li> 
        <li class="divider"></li>             
    {% endif %}
    {% if user|recommends_geodata:geodata %}
        <li id="tab_recommend"><a href="{% url geodata_recommend_url geodata.pk %}"><i class="icon-remove icon-white" width="15" height="15"></i></a></li>     
    {% else %}
        <li id="tab_recommend"><a href="{% url geodata_recommend_url geodata.pk %}"><i class="icon-thumbs-up icon-white" width="15" height="15"></i></a></li>     
    {% endif %}
{% endblock %}

{% block extra_head %}
<style type="text/css">
    #{{ module }}_map { width: 100%; height: 400px; }
</style>

<script type="text/javascript" src="{% static "openlayers/OpenLayers.js" %}"></script>

<script type="text/javascript">
//<![CDATA[
{% include "geodata/geodata_map.js" %}
//]]>
</script>

<!--[if IE]>
<style type="text/css">
  /* This fixes the mouse offset issues in IE. */
  #{{ id }}_admin_map { position: static; vertical-align: top; }
  /* `font-size: 0` fixes the 1px border between tiles, but borks LayerSwitcher.
      Thus, this is disabled until a better fix is found.
  #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; font-size: 0; } */
</style>
<![endif]-->

<script type="text/javascript" src="{% static "slimbox/js/slimbox2.js" %}"></script>
<link rel="stylesheet" href="{% static "slimbox/css/slimbox2.css" %}" type="text/css" media="screen" />
{% endblock %}

{% block breadcrumbs_extra %}
{% breadcrumb_url geodata_verbose_name_plural geodata_list_url %}
{% breadcrumb geodata.name %}
{% endblock %}

{% block head_title %}{% block head_geodata_type %}{{ geodata_verbose_name }}{% endblock %}: {{ geodata.name }}{% endblock %}

{% block body_class %}geodata{% endblock %}

{% block body %}
    <h1>{% block body_geodata_type %}{{ geodata_verbose_name }}{% endblock %}: {{ geodata.name }}</h1>

    <div id="{{ module }}_map"></div>
    <script type="text/javascript">{% block init_function %}{{ module }}_init();{% endblock %}</script>

    {% block body_geodata_extra %}
    {% endblock %}

    <p>
        {% if geodata.image.all|length > 1 %}{% trans "Images" %}{% else %}{% trans "Image" %}{% endif %}:
        <div class="imageRow">
        <div class="set">
        {% if geodata.image.all %}
          <table>
            <tr>
            {% for image in geodata.image.all %}
            {% if forloop.counter0|divisibleby:"7" %}
            </tr>
            <tr>
            {% endif %}
              <td>
                {% with image.thumbnail as im %}
                <a href="{{ image.display.url }}" rel="lightbox-journey" title="{{ image.legend|escape }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></a>
	        {% endwith %}
              </td>
            {% endfor %}
            </tr>
          </table>
        {% else %}{% trans "No image provided yet." %}
        {% endif %}
        </div>
        </div>
    </p>

    <p>
        {% if geodata.description %}
            {% trans "Description" %}:<br>
            {{ geodata.description }}
        {% endif %}
    </p>

    <p>
        {% trans "Contacts" %}:
        <ul>
            {% if geodata.credit_creator %}<li>{% trans "User" %}: <address><a href="{% url "profile_detail" geodata.creator %}">{{ geodata.creator }}</a></address></li>{% endif %}
            {% if geodata.url %}<li>{% trans "Website" %}: <a href={{ geodata.url }}>{{ geodata.url }}</a></li>{% endif %}
            {% if geodata.contact %}<li>{% trans "Other contact information" %}: <address>{{ geodata.contact }}</address></li>{% endif %}
        </ul>
    </p>

{% endblock %}
