{% extends "site_base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block extra_head %}
<style type="text/css">
    #{{ module }}_map { width: 100%; height: 400px; }
</style>

<script type="text/javascript" src="{% static "openlayers/OpenLayers.js" %}"></script>

<script type="text/javascript">
//<![CDATA[
{% include "geodata/geodata_map.js" %}
//]]>
</script>

<!--[if IE]>
<style type="text/css">
  /* This fixes the mouse offset issues in IE. */
  #{{ id }}_admin_map { position: static; vertical-align: top; }
  /* `font-size: 0` fixes the 1px border between tiles, but borks LayerSwitcher.
      Thus, this is disabled until a better fix is found.
  #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; font-size: 0; } */
</style>
<![endif]-->

<link rel="stylesheet" href="{% static "css/geodata.css" %}" type="text/css">
{% endblock %}


{% block head_title %}{% trans "List" %}: {% block head_geodata_type %}{% endblock%}{% endblock %}

{% block body_class %}place{% endblock %}

{% block body %}

  <div id="{{ module }}_map"></div>
  <script type="text/javascript">{% block init_function %}{{ module }}_init();{% endblock %}</script>


  <form action="/search/?q=">
    <input type="text" name="q" id="id_q">
    <button type="submit">Go</button>
  </form>


  <ul>
    {% for data in object_list %}
    <li>
        <a href={{ data.get_absolute_url }}>{{ data.name }}</a>

	{% if data.image %}
	    {% thumbnail data.image "100x100" as im %}
	        <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" />
	    {% endthumbnail %}
	{% endif %}

        {% block body_geodata_extra %}
        {% endblock %}
    </li>
    {% endfor %}
  </ul>

{% endblock %}
