{% extends "geodata/geodata_bigmap_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs_extra %}
{% breadcrumb geodata_verbose_name_plural %}
{% endblock %}

{% block head_title %}{% trans "List" %}: {% block head_geodata_type %}{{ geodata_verbose_name_plural }}{% endblock%}{% endblock %}

{% block body_class %}{{ geodata_verbose_name_plural }}{% endblock %}

{% block body %}
  {{ block.super }}

  <ul>
    {% for data in object_list %}
    <li>
        <a href={{ data.get_absolute_url }}>{{ data.name }}</a>

	{% if data.image %}
            {% with image.thumbnail as im %}
	        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
	    {% endwith %}
	{% endif %}

        {% block body_geodata_extra %}
        {% endblock %}
    </li>
    {% endfor %}
  </ul>

{% endblock %}
