{% extends "geodata/geodata_bigmap_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load can_edit_geodata %}
{% load recommends_geodata %}
{% load breadcrumbs %}


{% block extra_geodata_toolbox %}
    {% if user|can_edit_geodata:geodata %}
    <div class="btn-group">
      <a class="btn btn-geodata tooltip-geodata" title="{% trans "Edit" %}" href="{% url geodata_edit_url geodata.pk %}"><span class="glyphicon glyphicon-edit white"></span></a>
    </div>
    <div class="btn-group">
      <a class="btn btn-geodata tooltip-geodata" title="{% trans "Delete" %}" href="{% url geodata_delete_url geodata.pk %}"><span class="glyphicon glyphicon-trash white"></span></a>
    </div>
    {% endif %}
    <div class="btn-group">
    {% if user|recommends_geodata:geodata %}
      <a class="btn btn-geodata tooltip-geodata" title="{% trans "Toggle Recommend OFF" %}" href="{% url geodata_recommend_url geodata.pk %}"><span class="glyphicon glyphicon-remove white"></span></a>
    {% else %}
      <a class="btn btn-geodata tooltip-geodata" title="{% trans "Toggle Recommend ON" %}" href="{% url geodata_recommend_url geodata.pk %}"><span class="glyphicon glyphicon-thumbs-up white"></span></a>
    {% endif %}
    </div>
{% endblock %}

{% block extra_extra_head %}
<link rel="stylesheet" href="{% static "slimbox/css/slimbox2.css" %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static "slimbox/js/slimbox2.js" %}"></script>
{% endblock %}

{% block breadcrumbs_extra %}
{% breadcrumb_url geodata_verbose_name_plural geodata_list_url %}
{% breadcrumb geodata.name %}
{% endblock %}

{% block head_title %}{% block head_geodata_type %}{{ geodata_verbose_name }}{% endblock %}: {{ geodata.name }}{% endblock %}

{% block body_class %}place{% endblock %}

{% block body %}
{{ block.super }}
    <h1>{% block body_geodata_type %}{{ geodata_verbose_name }}{% endblock %}: {{ geodata.name }}</h1>

    {% block body_geodata_extra %}
    {% endblock %}

    <div>
      {% if geodata.image.all|length > 1 %}{% trans "Images" %}{% else %}{% trans "Image" %}{% endif %}:
      <div class="set" id="gallery">
      {% if geodata.image.all %}
        {% for image in geodata.image.all %}
            {% with image.thumbnail as im %}
        <a href="{{ image.display.url }}" title="{{ image.legend|escape }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></a>
            {% endwith %}
        {% endfor %}
        <script type="text/javascript">jQuery("#gallery a").slimbox();</script>
      {% else %}{% trans "No image provided yet." %}
      {% endif %}
      </div>
    </div>

    {% if geodata.description %}
    <div>
        {% trans "Description" %}:<br>
        {{ geodata.description }}
    </div>
    {% endif %}

    <div>
      {% trans "Contacts" %}:
      <ul>
          {% if geodata.credit_creator %}<li>{% trans "User" %}: <address><a href="{% url "profile_detail" geodata.creator %}">{{ geodata.creator }}</a></address></li>{% endif %}
          {% if geodata.url %}<li>{% trans "Website" %}: <a href={{ geodata.url }}>{{ geodata.url }}</a></li>{% endif %}
          {% if geodata.contact %}<li>{% trans "Other contact information" %}: <address>{{ geodata.contact }}</address></li>{% endif %}
      </ul>
    </div>
{% endblock %}
