{% load static %}
{% load i18n %}

<style type="text/css">{% block map_css %}
    #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
    #{{ id }}_map .aligned label { float: inherit; }
    #{{ id }}_div_map { position: relative; vertical-align: top; float: {{ LANGUAGE_BIDI|yesno:"right,left" }}; }
    {% if not display_raw %}#{{ id }} { display: none; }{% endif %}
    .olControlEditingToolbar .olControlModifyFeatureItemActive {
        background-image: url("{{ STATIC_URL }}admin/img/gis/move_vertex_on.png");
        background-repeat: no-repeat;
    }
    .olControlEditingToolbar .olControlModifyFeatureItemInactive {
        background-image: url("{{ STATIC_URL }}admin/img/gis/move_vertex_off.png");
        background-repeat: no-repeat;
    }{% endblock %}
</style>

<div id="{{ id }}_div_map">
  <label class="label">{% trans "Latitude/Longitude" %}</label>
  <div>
    <input type="text" class="span2" value="" placeholder="{% trans "Latitude" %}" id="latitude">
    <input type="text" class="span2" value="" placeholder="{% trans "Longitude" %}" id="longitude">
    <input type="button" class="btn" value="{% trans "Update map" %}" onclick="panToLatLonZoom($('#latitude').val(), $('#longitude').val(), 12);">
  </div>

  <label class="label" for="search_terms">{% trans "Nominatim Search Courtesy of" %} <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap <img src="{% static "img/osm_logo.svg" %}" alt="osm_logo" width="16" height="16"></a></label>
  <label id="spin" style="display:none;"></label>
  <div>
    <input type="text" class="span3" value="" placeholder="{% trans "Address" %}" id="search_terms">
    <input type="button" class="btn spinner-link" value="{% trans "Geolocate this address!" %}" onclick="searchNominatim(search_terms.value)">
  </div>

  <div>
    <select class="span5" id="search_results" onclick="selectEntry($('#search_results option:selected').attr('lat'), $('#search_results option:selected').attr('lon'), $('#search_results option:selected').attr('minlat'), $('#search_results option:selected').attr('maxlat'), $('#search_results option:selected').attr('minlon'), $('#search_results option:selected').attr('maxlon'))" size="4"></select>
  </div>

    <div id="{{ id }}_map"></div>
    <span class="clear_features"><a href="javascript:{{ module }}.clearFeatures()">Delete all Features</a></span>
    {% if display_raw %}<p>Debugging window (serialized value):</p>{% endif %}
    <textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
</div>
