{% extends "site_base.html" %}
{% load i18n %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static "openlayers/theme/default/style.tidy.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "css/geodata.css" %}" type="text/css">
{% block form_extra_style %}
{% endblock %}
{% endblock %}

{% block extra_script %}
<script type='text/javascript'>
   $(document).ready(function () {
   if ($("[class~=tooltip-geodata]").length) {
   $("[class~=tooltip-geodata]").tooltip();
   }
 });
</script>
{% block form_extra_script %}
{% endblock %}
{% endblock %}
