{% extends "geodata/geodata_detail.html" %}
{% load i18n %}
{% load geodata %}

{% block geodata_detail_title_extra %}
    {% if geodata.unesco_chair %}
        {% unesco_chair_logo %}
    {% endif %}
{% endblock %}

{% block body_geodata_extra %}
<tr>
    <th>{% trans "Roles" %}</th>
    <td>
    {% if geodata.role.all %}
        <ul>
        {% for role in geodata.role.all %}
            <li>{{ role }}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
{% if geodata.unesco_chair %}
<tr>
    <th>{% trans "UNESCO Chair Earthen Architecture" %}</th>
    <td>
        {% unesco_chair_logo %}
    </td>
</tr>
{% endif %}
{% endblock %}
