{% extends "geodata/geodata_detail.html" %}
{% load i18n %}

{% block body_geodata_extra %}
<tr>
    <th>{% trans "Roles" %}</th>
    <td>
    {% if geodata.role.all %}
        <ul>
        {% for role in geodata.role.all %}
            <li>{{ role }}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "not provided" %}.
    {% endif %}
    </td>
</tr>
{% if geodata.techniques.all %}
<tr>
    <th>{% trans "Techniques" %}</th>
    <td>
        <ul>
        {% for technique in geodata.techniques.all %}
            <li>{{ technique.name }}</li>
        {% endfor %}
        </ul>
    </td>
</tr>
{% endif %}
{% endblock %}
