/* Add additional stylesheets below
-------------------------------------------------- */
/* Body and structure
-------------------------------------------------- */
body {
  font-size: 13px;
  color: #333333;
  background-color: #bbaa99;
  position: relative;
}

a {
  color: #5268ae;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4f3937;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #f5e7da;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #555555;
  border: 1px solid #ccc;
}

/* HEADER */

.logo {
height:15px;
}

.buildings {
  font-family:arial, helvetica, sans-serif;
  font-size:1.2em;
  font-weight:bold;
  vertical-align:middle;
  text-shadow:#333 1px 1px 1px;
  color:#bbaa99;
}

.worksites {
  font-family:arial, helvetica, sans-serif;
  font-size:1.2em;
  font-weight:bold;
  vertical-align:middle;
  text-shadow:#333 1px 1px 1px;
  color:#bbaa99;
}

.events {
  font-family:arial, helvetica, sans-serif;
  font-size:1.2em;
  font-weight:bold;
  vertical-align:middle;
  text-shadow:#333 1px 1px 1px;
  color:#bbaa99;
}

.stakeholders {
  font-family:arial, helvetica, sans-serif;
  font-size:1.2em;
  font-weight:bold;
  vertical-align:middle;
  text-shadow:#333 1px 1px 1px;
  color:#bbaa99;
}

.cartoterra-navbar-form {
  padding-top: 8px;
}

.cartoterra-navbar-search {
  position: relative;
}

.cartoterra-navbar-search input {
  padding-left: 30px;
  width: 150px;
}

.cartoterra-navbar-search span {
  position: absolute;
  padding: 10px 12px;
}

.cartoterra-header {
  background-color: rgb(34,34,34);
  background-color: rgba(34,34,34,0.90);
  z-index: 300;
  width: 100%;
  position: relative;
}

.navbar {
  position: relative;
  width: 100%;
  margin-bottom: 0;
}

/* BLOCKS */
.well {
  background-color: #eae3dc;
  border-color: #776350;
}

li.well {
  color: #4d1f1a;
}

.nav-header {
  color: #4d1f1a;
}

/* MAP */

#list_map {
  background-color:#776350;
}

section {
  padding-top: 60px;
}
.modal form {
  margin-bottom: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

/* Sticky footer */
#wrap {
  min-height: 100%;
  margin-bottom: -6em;
}

#main {
  overflow:auto;
  padding-bottom: 1em;
}

#wrap:after {
  content: "";
  display: block;
}

.footer {
  width: 100%;
  height: 6em;
  background-color: #eae3dc;
  z-index: 500;
}

#wrap:after {
  height: 6em;
}

body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

/* footer */
.partners {
  margin-top: 1em;
  width: auto;
  text-align: left;
}

.legal {
  margin-top: 1em;
  font-size: 0.8em;
  text-align: right;
}

.white, .white a {
  color: #fff;
}

/* tooltips */
.tooltip {
  z-index: 100;
}

@media (max-width: 767px) {
  #wrap {
    margin-bottom: -10em;
  }
  #wrap:after {
    height: 10em;
  }
  .tooltip {
    display: none !important;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 10em;
    background-color: #eae3dc;
    clear: both;
  }
  .partners {
    margin-top: 1em;
    width : auto;
  }
  .partners > img {
    max-width: 100%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .legal {
    margin-top: 1em;
    font-size: 0.8em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .cartoterra-navbar-help {
    padding-left: 15px;
  }
  .cartoterra-navbar-search {
    padding-left: 15px;
  }
  .cartoterra-navbar-search input {
    width: 250px;
  }
}

.cartoterra-header.alert {
  border-radius: 0;
}

.cartoterra-header h1,
.cartoterra-header h2,
.cartoterra-header h3,
.cartoterra-header h4,
.cartoterra-header h5,
.cartoterra-header h6 {
  color: #ffffff;
}

.cartoterra-header .close {
  color: #ffffff;
  opacity: .5;
}

.navbar-form {
  webkit-box-shadow: inset 0 0 0 rgba(255,255,255,.1),0 0 0 rgba(255,255,255,.1);
  box-shadow: inset 0 0 0 rgba(255,255,255,.1),0 0 0 rgba(255,255,255,.1);
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.cartoterra-donate {
    padding-top: 1em;
}

.cartoterra-home-map {
    height: 100px;
}

.cartoterra-home-category-background {
    height: 100px;
    width: 100%;
}

.cartoterra-home-categories {
    margin-left:-25px;
}

.cartoterra-home-categories-legend {
    margin-top:6px;
    font-weight:bold;
}

.cartoterra-home-welcome-cont {
    width: 338px;
}

.cartoterra-center-cropped {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}

.cartoterra-home-title {
    padding-left: 10px;
    padding-right: 10px;
}

.cartoterra-home-title-content {
    color: #ffffff;
}

.cartoterra-home-welcome {
    height: 500px;
    background-size: 100% 100%;
}

.cartoterra-navbar {
    border: 0;
}

.cartoterra-account {
    padding-top: 1em;
}
