/* SITE-SPECIFIC TAB STYLING */

.mappage #tab_mappage a,
.worksites #tab_worksite a,
.events #tab_event a,
.buildings #tab_building a,
.profile #tab_profile a,
.notices #tab_notices a
{
    color: #000; /* selected tab text colour */
}
.profile #tab_profile,
.notices #tab_notices
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
