{% load i18n %}
{% load in_group %}
{% load account_tags %}
<ul class="nav pull-right">
    {% if request.user.is_authenticated %}
    <li><a href="{% url "profile_detail" user.username %}" class="tooltip-cartoterra" title="{% trans "My Profile" %}"><i class="icon-user"></i> {% user_display request.user %}</a></li>
    <li><a href="{% url "account_settings" %}" class="tooltip-cartoterra" title="{% trans "Settings"%}"><i class="icon-wrench"></i></a></li>
    {% if user.is_superuser or user|in_group:"translators" %}
    <li><a href="{% url "rosetta-home" %}" class="tooltip-cartoterra" title="{% trans "Translator" %}"><i class="icon-flag"></i></a></li>
    {% endif %}
    {% if user.is_staff %}
    <li><a href="/admin/" class="tooltip-cartoterra" title="{% trans "Admin" %}"><i class="icon-cog"></i></a></li>
    {% endif %}
    <li class="divider"></li>
    <li><a href="{% url "account_logout" %}" class="tooltip-cartoterra" title="{% trans "Log out" %}"><i class="icon-off"></i></a></li>
    {% else %}
    <li><a href="{% url "account_login" %}">{% trans "Log in" %}</a></li>
    {% if ACCOUNT_OPEN_SIGNUP %}
    <li class="navbar-text">or</li>
    <li><a href="{% url "account_signup" %}">{% trans "Sign up" %}</a></li>
    {% endif %}
    {% endif %}
</ul>
