{% load i18n %}
{% load staticfiles %}
{% load in_group %}
{% load account_tags %}
{% if request.user.is_authenticated %}
<li><a href="{% url "profile_detail" user.username %}" class="tooltip-cartoterra" title="{% trans "My Profile" %}"><span class="glyphicon glyphicon-user"></span> {% user_display request.user %}</a></li>
<li><a href="{% url "account_settings" %}" class="tooltip-cartoterra" title="{% trans "Settings"%}"><span class="glyphicon glyphicon-wrench"></span><span class="visible-xs-inline"> {% trans "Settings"%}</span></a></li>
{% if user.is_superuser or user|in_group:"translators" %}
<li><a href="{% url "rosetta-home" %}" class="tooltip-cartoterra" title="{% trans "Translator" %}"><span class="glyphicon glyphicon-flag"></span><span class="visible-xs-inline"> {% trans "Translator" %}</span></a></li>
{% endif %}
{% if user.is_staff %}
<li><a href="/admin/" class="tooltip-cartoterra" title="{% trans "Admin" %}"><span class="glyphicon glyphicon-cog"></span><span class="visible-xs-inline"> {% trans "Admin" %}</span></a></li>
{% endif %}

<li class="dropdown">
    <a id="cartoterra-navbar-add-geodata" class="tooltip-cartoterra dropdown" data-toggle="dropdown" data-target="#" aria-haspopup="true" aria-expanded="false" title="{% trans "Add a geodata" %}">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="caret"></span>
        <span class="visible-xs-inline"> {% trans "Add a geodata" %}</span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="cartoterra-navbar-add-geodata">
        <li><a href="{% url "add_building" %}"><img src="{% static "img/building_icon_h25.png" %}" width="15" height="15" alt="{% trans "Add Building" %}" /> {% trans "Building" %}</a></li>
        <li><a href="{% url "add_worksite" %}"><img src="{% static "img/worksite_icon_h25.png" %}" width="15" height="15" alt="{% trans "Add Worksite" %}" /> {% trans "Worksite" %}</a></li>
        <li><a href="{% url "add_event" %}"><img src="{% static "img/event_icon_h25.png" %}" width="15" height="15" alt="{% trans "Add Event" %}" /> {% trans "Event" %}</a></li>
        <li><a href="{% url "add_stakeholder" %}"><img src="{% static "img/stakeholder_icon_h25.png" %}" width="15" height="15" alt="{% trans "Add Stakeholder" %}" /> {% trans "Stakeholder" %}</a></li>
    </ul>
</li>

<li class="divider"></li>
<li><a href="{% url "account_logout" %}" class="tooltip-cartoterra" title="{% trans "Log out" %}"><span class="glyphicon glyphicon-off"></span><span class="visible-xs-inline"> {% trans "Log out" %}</span></a></li>
{% else %}
<li><a href="{% url "account_login" %}">{% trans "Log in" %}</a></li>
{% if ACCOUNT_OPEN_SIGNUP %}
<li class="navbar-text hidden-xs">{% trans "or" %}</li>
<li><a href="{% url "account_signup" %}">{% trans "Sign up" %}</a></li>
{% endif %}
{% endif %}
