{% load i18n %}
{% load static from staticfiles %}

<ul class="nav">
    {% if user.is_authenticated %}
    <li id="tab_add" class="dropdown">
      
    <div class="btn-group">
		<a class="btn btn-block btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus-sign icon-white"></i> Add   <span class="caret"></span></a>


      <ul class="dropdown-menu">
        <li><a href="{% url "add_building" %}"><img src="{% static "img/building_icon_h25.png" %}" width="15" height="15" alt="{% trans "Add Building" %}" /> {% trans "Building" %}</a></li>
        <li><a href="{% url "add_worksite" %}"><img src="{% static "img/worksite_icon_h25.png" %}" width="15" height="15" alt="{% trans "Add Worksite" %}" /> {% trans "Worksite" %}</a></li>
        <li><a href="{% url "add_event" %}"><img src="{% static "img/event_icon_h25.png" %}" width="15" height="15" alt="{% trans "Add Event" %}" /> {% trans "Event" %}</a></li>
        <li><a href="{% url "add_people" %}"><img src="{% static "img/stakeholder_icon_h25.png" %}" width="15" height="15" alt="{% trans "Add People" %}" /> {% trans "People" %}</a></li>
      </ul>
    </div>
    {% block extra_geodata_toolbox %}
    {% endblock %}
        {% comment %}
    <li id="tab_notices"><a href="{% url "notification_notices" %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
    {% endcomment %}
{% endif %}
<li class="divider-vertical"></li>
</ul>
