{% load i18n %}
{% load static from staticfiles %}

<ul class="nav nav-list">
  <li class="nav-header">{% trans "Recommendations" %}</li>
  <li><a href="{% url userena_profile_detail "admin" %}"><img src="{% static "img/patrimony.png" %}" width="15" height="15" /> {% trans "Admin" %}</a></li>

  <li class="nav-header">{% trans "External RSS Feeds" %}</li>
  <li class="external-rss-1">
    <a rel="rss" href="http://example.com/rss/"><img src="{% static "img/patrimony.png" %}" width="15" heigth="15" />{% trans "external rss 1" %}</a>
  </li>
  <li class="external-rss-2">
    <a rel="rss" href="http://example.com/rss/"><img src="{% static "img/patrimony.png" %}" width="15" heigth="15" />{% trans "external rss 2" %}</a>
  </li>


  <li class="nav-header">{% trans "Last modifications" %}</li>
  <li class="patrimony-rss">
    <a rel="rss" href="{% url feed_patrimony %}"><img src="{% static "img/patrimony.png" %}" width="15" heigth="15" />{% trans "Patrimony feed." %}</a>
  </li>
  <li class="construction-rss">
    <a rel="rss" href="{% url feed_construction %}"><img src="{% static "img/construction.png" %}" width="15" heigth="15" />{% trans "Construction feed." %}</a>
  </li>
  <li class="meeting-rss">
    <a rel="rss" href="{% url feed_meeting %}"><img src="{% static "img/meeting.png" %}" width="15" heigth="15" />{% trans "Meeting feed." %}</a>
  </li>
</ul>
