{% load i18n %}
{% load static from staticfiles %}
{% comment %}
<ul class="nav nav-list">
  <li class="nav-header">{% trans "Recommendations" %}</li>
  <li><a href="{% url "profile_detail" "admin" %}"><img src="{% static "img/map.png" %}" width="15" height="15" alt="" /> {% trans "Admin" %}</a></li>
</ul>
{% endcomment %}
<h2>{% trans "Cartoterra.net is a database for earth architecture" %}</h2>
<a class="alert-link" href="{% url "account_signup" %}">
    <h2><small>{% trans "Create your account and share contacts, images, events, ..." %}</small></h2>
</a>
