{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block extra_style %}
{% endblock %}


{% block site_brand %}<a class="brand" href="{% url "home" %}"><div style="height:15px; overflow:visible;"><img style="border-width:0" src="{% static "img/cartoterra.png" %}" /></div></a>{% endblock %}

{% comment %}
<div id='langbar' style='text-align:right;padding-top:5px;'>
    <form name='langform' style='margin:0px;display:inline;width:200px' action='/i18n/setlang/' method='POST'>
        {% for LANG in LANGUAGES  %}
            <img src='{{ MEDIA_URL }}img/flags/{{ LANG.0 }}.png' title="{% trans LANG.1 %}" style='margin:5px;cursor:pointer' onclick="document.langform.language.value='{{ LANG.0 }}';document.langform.submit();">
        {% endfor %}
	<input name='language' type=hidden value="{{ LANGUAGE_CODE }}">
	current LANG : {{ LANGUAGE_CODE }}
    </form>
</div>
{% endcomment %}

{% block navbar_class %}
navbar-fixed-top navbar-inverse
{% endblock %}


{% block nav %}
<ul class="nav">{% spaceless %}
    <li id="tab_patrimony" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "img/building_h25_txt.png" %}" width="104" height="25" /><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{% url "show_patrimony_all" %}"><img src="{% static "img/building_dot.png" %}" width="5" height="5" /> {% trans "All patrimonies" %}</a></li>
        <li><a href="{% url "show_patrimony_unesco" %}"><img src="{% static "img/building_dot.png" %}" width="15" height="15" /> {% trans "UNESCO" %}</a></li>
        <li><a href="{% url "show_patrimony_contemporary" %}"><img src="{% static "img/building_dot_hover.png" %}" width="15" height="15" /> {% trans "Contemporary" %}</a></li>
        <li><a href="{% url "show_patrimony_vernacular" %}"><img src="{% static "img/building_h25.png" %}" width="25" height="25" /> {% trans "Vernacular" %}</a></li>
        <li><a href="{% url "show_patrimony_normal" %}"><img src="{% static "img/building_h25.png" %}" width="15" height="15" /> {% trans "Normal" %}</a></li>
      </ul>
    </li>
    <li id="tab_construction" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "img/construction_h25_txt.png" %}" width="110" height="25" /><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{% url "show_construction_all" %}"><img src="{% static "img/construction_dot.png" %}" width="15" height="15" /> {% trans "All constructions" %}</a></li>
        <li><a href="{% url "show_construction_participative" %}"><img src="{% static "img/construction_dot_hover.png" %}" width="15" height="15" /> {% trans "Participative" %}</a></li>
        <li><a href="{% url "show_construction_normal" %}"><img src="{% static "img/construction_h25.png" %}" width="15" height="15" /> {% trans "Normal" %}</a></li>
      </ul>
    </li>
    <li id="tab_meeting" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "img/events_h25_txt.png" %}" width="15" height="15" /><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{% url "show_meeting_all" %}"><img src="{% static "img/event_h25.png" %}" width="15" height="15" /> {% trans "All meetings" %}</a></li>
        <li><a href="{% url "show_meeting_seminar" %}"><img src="{% static "img/event_dot.png" %}" width="15" height="15" /> {% trans "Seminar" %}</a></li>
        <li><a href="{% url "show_meeting_colloquium" %}"><img src="{% static "img/event_dot.png" %}" width="15" height="15" /> {% trans "Colloquium" %}</a></li>
        <li><a href="{% url "show_meeting_conference" %}"><img src="{% static "img/event_dot_hover.png" %}" width="15" height="15" /> {% trans "Conference" %}</a></li>
        <li><a href="{% url "show_meeting_festival" %}"><img src="{% static "img/event_dot_hover.png" %}" width="15" height="15" /> {% trans "Festival" %}</a></li>
      </ul>
    </li>
    <li id="tab_actor" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "img/stakeholders_h25_txt.png" %}" width="124" height="25" /><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{% url "show_actor_all" %}"><img src="{% static "img/stakeholder_dot.png" %}" width="15" height="15" /> {% trans "All actors" %}</a></li>
      </ul>
    </li>
</ul>

<ul class="nav pull-right">
    <li id="tab_search">
      <form class="navbar-search" action="/search/?q=">
        <input type="text" class="search-query" name="q" id="id_q" placeholder="{% trans "Search Earth GeoDatas" %}">
      </form>
    </li>

{% if user.is_authenticated %}
    <li id="tab_add" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "img/add.png" %}" width="15" height="15" /><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{% url "add_patrimony" %}"><img src="{% static "img/patrimony.png" %}" width="15" height="15" /> {% trans "Patrimony" %}</a></li>
        <li><a href="{% url "add_construction" %}"><img src="{% static "img/construction.png" %}" width="15" height="15" /> {% trans "Construction" %}</a></li>
        <li><a href="{% url "add_meeting" %}"><img src="{% static "img/meeting.png" %}" width="15" height="15" /> {% trans "Meeting" %}</a></li>
        <li><a href="{% url "add_actor" %}"><img src="{% static "img/actor.png" %}" width="15" height="15" /> {% trans "Actor" %}</a></li>
      </ul>
    </li>
    {% block extra_geodata_toolbox %}
    {% endblock %}
    {% comment %}
    <li id="tab_notices"><a href="{% url "notification_notices" %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
    {% endcomment %}
{% endif %}
{% endspaceless %}</ul>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
