.map-toolbox {
  display: block;
  position: relative;
  z-index: 200;
  height: 500px;
}

.geodata-bigmap {
  width: 100%;
}

.blueimp-gallery > .prev, .blueimp-gallery > .next {
  border: none;
  border-radius: none;
}

.geodata-smallmap {
    height: 200px;
}
