.btn-geodata {
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
}
.btn-toolbar2 >.btn-group + .btn-group {
    margin-left: -1px;
}
.btn-toolbar2 > .btn-group > .btn, .btn-toolbar2 > .btn-group > .dropdown-toggle {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
}
.btn-toolbar2 > .btn-group:first-child > .btn, .btn-toolbar2 > .btn-group:first-child > .dropdown-toggle {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}
.btn-toolbar2 > .btn-group:last-child > .btn:last-child, .btn-toolbar2 > .btn-group:last-child > .dropdown-toggle:nth-last-child(2) {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
}
.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.geodata-thumbnail {
  min-height : 100px;
  height : 100px;
  min-width : 100px;
  width : 100px;
  text-align : center;
  display : table-cell;
  vertical-align : middle;
  font-size : 30px;
}

.geodata-icon-empty {
  opacity: 0.25;
}

.geodata-inactive-text {
  opacity: 0.5;
}

.geodata-form {
  padding-top: 1em;
}

.leaflet-right .leaflet-control {
  margin-right: 0;
}

.leaflet-bar a:first-child {
  border-top-right-radius: 0;
}

.leaflet-bar a:last-child {
  border-bottom-right-radius: 0;
}

.leaflet-bar a {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}

.leaflet-bar a.leaflet-disabled {
  background-color: rgba(0,0,0,0.4);
}

.leaflet-bar {
  box-shadow: none;
}

.leaflet-bar a:hover {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
}

.leaflet-bar a.leaflet-disabled:hover {
  background-color: rgba(0,0,0,0.4);
  color: #bbb;
}
