{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load adminmedia %}
{% load thumbnail %}


{% block extra_head %}
{{ form.media }}
{% endblock %}


{% block head_title %}{% trans "Edit"%} {% block head_geodata_type %}{% endblock %} "{{ geodata }}"{% endblock %}

{% block body_class %}userform{% endblock %}

{% block body %}
    <h1>{% trans "Edit"%} {% block body_geodata_type %}{% endblock %} "{{ geodata }}"</h1>


    <form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
      {% for field in form %}
      <p>
        <dt>{{ field.label_tag }}</dt>
        <dd>
        {% ifequal field.name 'image' %}
            {% if field.value %}
            {% thumbnail field.value "100x100" as im %}
            <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" />
            {% endthumbnail %}
            {% endif %}
        {% endifequal %}
        {{ field }}
        </dd>
        {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
        {% if field.errors %}<dd>{{ field.errors }}</dd>{% endif %}
      </p>
      {% endfor %}
      </dl>
      <input type="submit" value={% trans "Submit" %} />
    </form>

    {% block body_geodata_extra %}
    {% endblock %}
{% endblock %}

