{% extends "show_geodata_base.html" %}
{% load i18n %}

{% block head_geodata_type %}{% trans "Meeting" %}{% endblock %}

{% block body_geodata_type %}{% trans "Meeting" %}{% endblock %}

{% block edit_form_action %}{% url edit_meeting geodata.id %}{% endblock %}

{% block delete_form_action %}{% url delete_meeting geodata.id %}{% endblock %}

{% block rec_form_action %}{% url toggle_rec_meeting geodata.id %}{% endblock %}

{% block body_geodata_extra %}
    <p>
        {% trans "Meeting type" %}: {{ geodata.meeting }}
    </p>

    <p>
        {% trans "Dates" %}: {{ geodata.beginning_date }} - {{ geodata.end_date }}
    </p>
{% endblock %}
