{% extends "site_base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block extra_head %}
    {{ map.media }}
{% endblock %}


{% load i18n %}

{% block head_title %}{% block head_geodata_type %}{% endblock %}: {{ geodata.name }}{% endblock %}

{% block body_class %}geodata{% endblock %}

{% block body %}
    <ul>
    {% if user.is_authenticated and user == geodata.creator %}
    <li>
      <form action={% block edit_form_action %}{% endblock %} />
        <input type="submit" value={% trans "Edit" %} />
      </form>
    </li>

    <li>
      <form action={% block delete_form_action %}{% endblock %} />
        <input type="submit" value={% trans "Delete" %} />
      </form>
    </li>
    {% endif %}

    {% if user.is_authenticated %}
    <li>
      {% trans "Recommendation" %}
      <form method="post" action={% block rec_form_action %}{% endblock %} />{% csrf_token %}
        <input type="submit" value={% trans "Toggle" %}>
      </form>

    </li>
    {% endif %}
    </ul>


    <h1>{% block body_geodata_type %}{% endblock %}: {{ geodata.name }}</h1>

    <p>
        {{ map }}
    </p>

    {% block body_geodata_extra %}
    {% endblock %}

    <p>
        {% if geodata.image %}
            {% trans "Image" %}:<br>
{% comment %}
            {{ geodata.image }}
{% endcomment %}
	    {% thumbnail geodata.image "300x300" as im %}
	        <img style="margin:{{ im|margin:"300x300" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
	    {% endthumbnail %}
        {% endif %}
    </p>

    <p>
        {% if geodata.description %}
            {% trans "Description" %}:<br>
            {{ geodata.description }}
        {% endif %}
    </p>

    <p>
        {% trans "Contacts" %}:
        <ul>
            {% if geodata.credit_creator %}<li>{% trans "User" %}: <a href="{% url profile_detail geodata.creator %}">{{ geodata.creator }}</a></li>{% endif %}
            {% if geodata.url %}<li>{% trans "Website" %}: <a href={{ geodata.url }}>{{ geodata.url }}</a></li>{% endif %}
            {% if geodata.contact %}<li>{% trans "Other contact information" %}: {{ geodata.contact }}</li>{% endif %}
        </ul>
    </p>

{% endblock %}
