{% extends "show_geodata_base.html" %}
{% load i18n %}

{% block head_geodata_type %}{% trans "Construction" %}{% endblock %}

{% block body_geodata_type %}{% trans "Construction" %}{% endblock %}

{% block editform %}
      <form action={% url edit_construction geodata.id %} />
        <input type="submit" value="Edit" />
      </form>
{% endblock %}

{% block deleteform %}
      <form action={% url delete_construction geodata.id %} />
        <input type="submit" value="Delete" />
      </form>
{% endblock %}

{% block recform %}
      <form method="post" action={% url toggle_rec_construction geodata.id %} />{% csrf_token %}
        <input type="submit" value="Toggle">
      </form>
{% endblock %}

{% block body_geodata_extra %}
    <p>
        {% trans "Techniques" %}:
        {% if place.techniques.all %}
            <ul>
            {% for technique in place.techniques.all %}
                <li>{{ technique.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            {% trans "not provided" %}.
        {% endif %}
    </p>

    <p>
        {% trans "Participative construction" %}:
        {% if place.participative %}
            {% trans "Yes!" %}
        {% else %}
            {% trans "No." %}
        {% endif %}
    </p>
{% endblock %}
