{% extends "site_base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block extra_head %}
    {{ map.media }}
{% endblock %}


{% load i18n %}

{% block head_title %}{% trans "List" %}: {{ classurl }}{% endblock %}

{% block body_class %}place{% endblock %}

{% block body %}

  {% if user.is_authenticated %}
  <form action=/add/{{ classurl }}/ />
    <input type="submit" value="Add a {{ classname }}">
  </form>
  {% endif %}


  <p>{{ map }}</p>


  <form action="/search/?q=">
    <input type="text" name="q" id="id_q">
    <button type="submit">Go</button>
  </form>


  <ul>
    {% for data in geodata.all %}
    <li>
        <a href={{ data.get_absolute_url }}>{{ data.name }}</a>

	{% if data.image %}
	    {% thumbnail data.image "100x100" as im %}
	        <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
	    {% endthumbnail %}
	{% endif %}

        {% block body_geodata_extra %}
        {% endblock %}
    </li>
    {% endfor %}
  </ul>

{% endblock %}
