{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/homemap.css" %}">

    <script src="{% static "js/openlayers/lib/OpenLayers.js" %}"></script>

    <script type="text/javascript">
        var map, base_layer, kml, patrimony_kml, patrimony_style, patrimony_stylemap, meeting_kml, meeting_style, meetnig_stylemap, construction_kml, construction_style, construction_stylemap, selectControlPatrimony, selectControlMeeting, selectControlConstruction;

        function init(){
            patrimony_style = new OpenLayers.Style(OpenLayers.Util.applyDefaults({
                fillColor: "green",
                fillOpacity: 1,
                pointRadius: 5,
                strokeColor: "black",
            }));
            meeting_style = new OpenLayers.Style(OpenLayers.Util.applyDefaults({
                fillColor: "blue",
                fillOpacity: 1,
                pointRadius: 5,
                strokeColor: "black",
            }));
            construction_style = new OpenLayers.Style(OpenLayers.Util.applyDefaults({
                fillColor: "red",
                fillOpacity: 1,
                pointRadius: 5,
                strokeColor: "black",
            }));
            patrimony_stylemap = new OpenLayers.StyleMap({'default':patrimony_style});
            meeting_stylemap = new OpenLayers.StyleMap({'default':meeting_style});
            construction_stylemap = new OpenLayers.StyleMap({'default':construction_style});
            map = new OpenLayers.Map('homemap');
            base_layer = new OpenLayers.Layer.WMS( "OpenLayers WMS",
               "http://labs.metacarta.com/wms/vmap0", {layers: 'basic'} );
            //kml = new OpenLayers.Layer.GML("KML", "/kml/",
            //   { format: OpenLayers.Format.KML });
            //patrimony_kml = new OpenLayers.Layer.GML(
            //    "Patrimony",
            //    "/kml/patrimony.kml",
            //    {
            //        format: OpenLayers.Format.KML,
            //        styleMap: patrimony_stylemap
            //    }
            //);
            patrimony_kml = new OpenLayers.Layer.Vector("Patrimony", {
                projection: map.displayProjection,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "/kml/patrimonies.kml",
                    format: new OpenLayers.Format.KML({
                        extractStyles: true,
                        extractAttributes: true,
                    }),
                }),
                styleMap: patrimony_stylemap
            });
            meeting_kml = new OpenLayers.Layer.GML(
                "Meeting",
                "/kml/meetings.kml",
                {
                    format: OpenLayers.Format.KML,
                    styleMap: meeting_stylemap
                }
            );
            construction_kml = new OpenLayers.Layer.GML(
                "Construction",
                "/kml/constructions.kml",
                {
                    format: OpenLayers.Format.KML,
                    styleMap: construction_stylemap
                }
            );

            map.addLayers([base_layer, patrimony_kml, meeting_kml, construction_kml]);

            selectControlPatrimony = new OpenLayers.Control.SelectFeature(patrimony_kml);
            selectControlMeeting = new OpenLayers.Control.SelectFeature(meeting_kml);
            selectControlConstruction = new OpenLayers.Control.SelectFeature(construction_kml);

            patrimony_kml.events.on({
                'featureselected': onFeatureSelectPatrimony,
                'featureunselected': onFeatureUnselectPatrimony
            });
            meeting_kml.events.on({
                'featureselected': onFeatureSelectMeeting,
                'featureunselected': onFeatureUnselectMeeting
            });
            construction_kml.events.on({
                'featureselected': onFeatureSelectConstruction,
                'featureunselected': onFeatureUnselectConstruction
            });

            map.addControl(selectControlPatrimony);
            map.addControl(selectControlMeeting);
            map.addControl(selectControlConstruction);

            selectControlPatrimony.activate();
            selectControlMeeting.activate();
            selectControlConstruction.activate();

            map.addControl(new OpenLayers.Control.LayerSwitcher());
	    map.addControl(new OpenLayers.Control.Navigation());
	    map.addControl(new OpenLayers.Control.MouseToolbar());
	    //map.addControl(new OpenLayers.Control.PanZoomBar({zoomWorldIcon: true}))
            map.zoomToMaxExtent();
            //map.zoomToExtent(new OpenLayers.Bounds(68.774414,11.381836,123.662109,34.628906));
        }

        function onPopupClose(evt) {
            //select.unselectAll();
	    selectControl.unselect(this.feature);
        }

        function onFeatureSelect(event) {
            var feature = event.feature;
            // Since KML is user-generated, do naive protection against
            // Javascript.
            var content = "<h2>"+feature.attributes.name + "</h2>" + feature.attributes.description;
            if (content.search("<script") != -1) {
                content = "Content contained Javascript! Escaped content below.<br>" + content.replace(/</g, "&lt;");
            }
            popup = new OpenLayers.Popup.FramedCloud("chicken",
                                     feature.geometry.getBounds().getCenterLonLat(),
                                     new OpenLayers.Size(100,100),
                                     content,
                                     //null, true, onPopupClose);
                                     null, true);
            feature.popup = popup;
            map.addPopup(popup);
        }
        function onFeatureUnselect(event) {
            var feature = event.feature
            if(feature.popup) {
	        popup.feature = null;
                map.removePopup(feature.popup);
                feature.popup.destroy();
		feature.popup = null;
                delete feature.popup;
            }
        }


        function onFeatureSelectConstruction(event) {
            var feature = event.feature;
            // Since KML is user-generated, do naive protection against
            // Javascript.
            var content = "<h2>"+feature.attributes.name + "</h2>" + feature.attributes.description;
            if (content.search("<script") != -1) {
                content = "Content contained Javascript! Escaped content below.<br>" + content.replace(/</g, "&lt;");
            }
            popup = new OpenLayers.Popup.FramedCloud("construction",
                                     feature.geometry.getBounds().getCenterLonLat(),
                                     new OpenLayers.Size(100,100),
                                     content,
                                     null, true, onPopupClose);
            feature.popup = popup;
            map.addPopup(popup);
        }
        function onFeatureUnselectConstruction(event) {
            var feature = event.feature
            if(feature.popup) {
                map.removePopup(feature.popup);
                feature.popup.destroy();
                delete feature.popup;
            }
        }


        function onFeatureSelectPatrimony(event) {
            var feature = event.feature;
            // Since KML is user-generated, do naive protection against
            // Javascript.
            var content = "<h2>"+feature.attributes.name + "</h2>" + feature.attributes.description;
            if (content.search("<script") != -1) {
                content = "Content contained Javascript! Escaped content below.<br>" + content.replace(/</g, "&lt;");
            }
            popup = new (OpenLayers.Popup.FramedCloud)("chicken",
                                     feature.geometry.getBounds().getCenterLonLat(),
                                     new OpenLayers.Size(100,100),
                                     content,
                                     null, true, onPopupClose);
            feature.popup = popup;
            map.addPopup(popup);
        }
        function onFeatureUnselectPatrimony(event) {
            var feature = event.feature
            if(feature.popup) {
                map.removePopup(feature.popup);
                feature.popup.destroy();
                delete feature.popup;
            }
        }


        function onFeatureSelectMeeting(event) {
            var feature = event.feature;
            // Since KML is user-generated, do naive protection against
            // Javascript.
            var content = "<h2>"+feature.attributes.name + "</h2>" + feature.attributes.description;
            if (content.search("<script") != -1) {
                content = "Content contained Javascript! Escaped content below.<br>" + content.replace(/</g, "&lt;");
            }
            popup = new OpenLayers.Popup.FramedCloud("meeting",
                                     feature.geometry.getBounds().getCenterLonLat(),
                                     new OpenLayers.Size(100,100),
                                     content,
                                     null, true, onPopupClose);
            feature.popup = popup;
            map.addPopup(popup);
        }
        function onFeatureUnselectMeeting(event) {
            var feature = event.feature
            if(feature.popup) {
                map.removePopup(feature.popup);
                feature.popup.destroy();
                delete feature.popup;
            }
        }



        window.onload = init;
    </script>
{% endblock %}

{% load i18n %}

{% block body_class %}home{% endblock %}

{% block body %}
    {% trans "Total of GeoDatas" %}: {{location_count}} ({{construction_count}} {% trans "constructions" %}, {{patrimony_count}} {% trans "patrimonies" %}, {{meeting_count}} {% trans "meetings" %}).<br />
    {% comment %}
    To see this data in Google Earth, <a href="/kml/">Open as KML</a>.
    {% endcomment %}
    <div id="homemap"></div>
{% endblock %}
