{% extends "site_base.html" %}
{% load i18n %}

{% block extra_head %}{{ map.media }}{% endblock %}

{% block head_title %}{% trans "Home: "%}{{ user_.username }}{% endblock %}

{% block body %}

    {% trans "Total of GeoDatas of user" %} {{ user_.username }}: {{location_count}} ({{construction_count}} {% trans "constructions" %}, {{patrimony_count}} {% trans "patrimonies" %}, {{meeting_count}} {% trans "meetings" %}, {{actor_count}} {% trans "actors" %}).<br />

    {% trans "Total of Recommendations of user" %} {{ user_.username }}: {{r_location_count}} ({{r_construction_count}} {% trans "constructions" %}, {{r_patrimony_count}} {% trans "patrimonies" %}, {{r_meeting_count}} {% trans "meetings" %}, {{r_actor_count}} {% trans "actors" %}).<br />

    {{ map }}

{% endblock %}
